<meta charset="UTF-8">
<meta name="HandheldFriendly" content="true" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, width=device-width, user-scalable=no" />

<title>FreeRepair.pl</title>
		
{% load static %}
		
<link href='{% static 'styles/page.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'styles/input.css' %}' rel='stylesheet' type='text/css'>
<link href='{% static 'styles/menu.css' %}' rel='stylesheet' type='text/css'>
